<div class="container policy">
    <div class="policy__item">
        <i class="pi pi-shopping-bag"></i>
        <div class="policy__content">
            <h5>Miễn phí giao hàng</h5>
            <p>Miễn phí ship với đơn hàng > 239k</p>
        </div>
    </div>
    <div class="policy__item">
        <i class="pi pi-qrcode"></i>
        <div class="policy__content">
            <h5>Thanh toán COD</h5>
            <p>Thanh toán khi nhận hàng</p>
        </div>
    </div>
    <div class="policy__item">
        <i class="pi pi-shopping-bag"></i>
        <div class="policy__content">
            <h5>Khách hàng VIP</h5>
            <p>Ưu đãi dành cho khách hàng VIP</p>
        </div>
    </div>
    <div class="policy__item">
        <i class="pi pi-shopping-bag"></i>
        <div class="policy__content">
            <h5>Hỗ trợ bảo hành</h5>
            <p>Đổi, sửa đổi tại tất cả store</p>
        </div>
    </div>
</div>