* {
    margin: 0;  
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1;
    font-weight: normal;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}