<header class="header">
    <a class="header__logo" routerLink="/">
        <h2>H&H SHOP</h2>
    </a>
    <ul class="header__list">
        <li class="header__item">
            <a>Giày Nike</a>
        </li>
        <li class="header__item">
            <a>Giày Adidas</a>
        </li>
        <li class="header__item">
            <a>Giày Vans</a>
        </li>
        <li class="header__item">
            <a>Giày thời trang</a>
        </li>
    </ul>

    <div class="header__actions">
        <p-button *ngIf="!user; else logged" label="Login" routerLink="/login"></p-button>
        <i pBadge [value]="cartQuantity.toString()" class="pi pi-shopping-cart" routerLink="/cart"></i>
    </div>

    <ng-template #logged>
        <div class="header__user">
            <a (click)="handleNavigateProfile()">{{user?.username}}</a>
            <button pButton type="button" label="Đăng xuất" class="p-button-text" (click)="handleLogout()"></button>
        </div>
    </ng-template>
</header>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>