.slider {
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 25px;
        padding: 0 20px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 15px 0;
        
        & > * {
            text-transform: uppercase;
        }

        h5 {
            font-size: 15px;
            font-weight: 500;
            color: rgb(252, 118, 69);
            letter-spacing: 1px;
        }

        h2 {
            color: rgb(58, 54, 54);
            letter-spacing: 1px;
        }

        p {
            color: gray;
            font-size: 12px;
            line-height: 1.6;
        }
    }
}