<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

    <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Shop: <span>H&HShop</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">About</a>
                |
                <a href="#">Contact</a>
                |
                <a href="#">Blog</a>
            </p>

            <p class="footer-company-name">Copyright © 2023 <strong>H&HShop</strong> All rights reserved</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Address</span>
                    56 Biên Cương-Ngô mây-Quy Nhơn</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+0859571906</p>
                <p>/ +0865405711</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:sagar00001.co@gmail.com">tranthuhong0108@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the shop</span>
                <strong>Shop H&H</strong> Myshoes.vn được định hướng trở thành hệ thống thương mại điện tử bán
                giày
                dép
                chính hãng hàng đầu Việt Nam. 
            </p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/profile.php?id=100015368311884"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>