<div class="container">
  <form class="profile" [formGroup]="form" (ngSubmit)="handleSubmit(form)">
    <h2>Profile</h2>
    <div>
      <label>Tên:</label>
      <input type="text" pInputText formControlName="username" />
      <div *ngIf="form.get('username')?.errors && form.get('username')?.touched">
        <small class="error" *ngIf="form.get('username')?.errors?.['required']">Name is required</small>
    </div>
    </div>
    <div>
      <label>Số điện thoại:</label>
      <input type="text" pInputText formControlName="phone" />
    </div>
    <div style="display: flex; align-items: center;">
      <label>Địa chỉ:</label>
      <textarea pInputTextarea rows="3" style="resize: none" formControlName="address"></textarea>
    </div>
    <div class="button">
      <button type="submit" pButton label="Lưu thông tin" [disabled]="form.invalid"></button>
    </div>
  </form>
</div>

<p-toast></p-toast>